/*CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}

body {
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	color: white;
	overflow: hidden;
} 

.background {
	background-image: url("../../images/soccer.jpeg") !important;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

header {
	width: 100%;
	height: 125px;
	background-image: linear-gradient(to top, #03ba0f -50%, #01280c 25%);
	color: white;
	box-shadow: 1px 1px 1px 1px #2ce848;
	position: relative;
}

img {
	width: 75px;
	height: 75px;
	position: absolute;
	top: 25px;
	left: 25px;
}

header h1 {
	position: absolute;
	left: 125px;	
	top: 25px;
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #2ce848;
}

nav {
	position: absolute;
	top: 80px;
	left: 125px;
	height: 23.18px;
}

nav a {
	color: white;
	margin-right:15px;
	line-height:23.18px;
	text-align: center;
}

nav a:hover {
	font-size: 20px;
	color: #2ce848;
	margin-right: 5px;
}

main {
	width: 875px;
	height: 600px;
	margin:  75px auto;
	box-shadow: 2px 2px 2px 2px #01280c;
	background-color: white;
	opacity: 0.9;
	color: #01280c;
	font-size: 18px;
	border-radius: 5px;
	overflow: scroll;
}

main h2 {
	font-size: 30px;
	text-shadow: 1px 1px 1px #01280c;
	font-weight: bold;
	text-align: center;
	margin-top: 75px;
}

#events {
	margin-top: 50px;
	text-align: center;
	list-style: none;
	padding-left: 0;
}

#home {
	height: 400px;
	width: 730px;
	margin-top: 150px;
}

#home li {
	margin-left: 0;
}

#events li:nth-of-type(even) {
	padding-bottom: 25px;
}

#events li:nth-of-type(odd) {
	font-size: 20px;
	font-style: italic;
	font-weight: lighter;
	text-decoration: underline;
	padding-bottom: 5px;
}

main section {
	width: 75%;
	margin: 50px auto;
	text-align: justify;
	line-height: 22px;
}

main p {
	margin-bottom: 20px;
}

main h3 {
	font-size: 24px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #01280c;
	padding-bottom: 10px;
	padding-top: 20px;
}

#contact {
	width: 730px;
	height: 400px;
	margin-top: 125px;
}

#contact p {
	padding-top: 125px;	
	text-align: center;
	line-height: 50px;
}

.content {
	width: 85%;
	margin: auto;
}

.table h2 {
	padding-bottom: 25px;
}

.table h4 {
	font-weight: bold;
	padding-bottom: 10px;
}

.table p {
	text-decoration: underline;
	padding-bottom: 10px;
}

.table {
	width: 80%;
	margin:auto;
}

#first-table {
	width: 100%;
	margin: auto;
	table-layout: fixed;
}

#first-table td {
	padding-bottom: 10px;
}

#first-table td:first-child {
	text-align: center;
}

#first-table tbody td:first-child {
	grid-row-span: 2;
}

#first-table td:nth-child(2) {
	text-align: center;
}

#first-table td:last-child {
	text-align: center;
}

.space {
	margin-bottom: 20px
	border-bottom: 1px solid black;
}

thead th{
	padding-top: 15px;
	padding-bottom: 10px;
	text-decoration: underline;
}

#second-table, #third-table {
	width: 100%;
	margin-bottom: 25px;
}

#second-table h4 {
	text-align: left;
	padding-top: 50px;
}

#second-table td {
	width: 392px;
	margin:auto;
}

#second-table td:nth-child(2) {
	text-align: right;
}

#final-part {
	text-align: left;
	margin-top: 15px;
	margin-bottom: 50px;
}

#final-part li {
	padding-bottom: 5px;
	list-style: none;
}

#final-part {
	padding-left: 0;
}

#final-part span {
	font-weight: bold;
}

#rules {
	text-align: justify;
	height: 63%;
	line-height: 20px;
}

#rules h2 {
	margin-bottom: 30px;
}

#rules p {
	text-align: center;
}

#rules span {
	font-weight: bold;
}

#rules li {
	padding-bottom: 10px;
}

