/*CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Start of the styling */

body {
	margin: 0;
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	height: 600px;
	color: #023B0B !important;
	font-size: 18px;
} 

.page {
	max-width: 900px;
}

header {
	margin-top: 2%;
}

#background {
	margin-top: 12px;
	height: 150px;
	background-color: #202d26;
	background-image: url("../../images/design2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
}

h1 {
	font-size: 2rem;
	line-height: ;
	text-shadow: 2px 2px 2px #202d26;
	text-transform: uppercase;
	margin-left: 5%;
	margin-bottom: -10px;
	width: 70%;
}

nav {
	margin-right: 5%;
	position: absolute;
	right: 5%;
}

button {
	padding: 3px;
	background-color: #4298d6;
	border: solid 2px #202d26;
	border-radius: 2px;
	box-shadow: 1px 1px 1px 1px #202d26;
}

button:hover {
	background-color: #2ce848;
	font-size: 20px;
}

nav a {
	color: white;
	text-decoration: none;
}

.sub-header {
	height: 30px;
	background-color: #202d26;
	margin-top: 0;
	font-size: 1.5rem;
	text-align: center;
	color: white;
}

.sub-header h2 {
	line-height: 30px;
}

.logo {
	width: 150px;
	top: 250px;
	left: 15px;
	position: absolute;
}

.logo img{
	max-width: 150px;
}

main {
	width: 80%;
	margin: 100px auto;
	text-align: justify;
}

ul {
	text-align: center;
}

li:nth-of-type(even) {
	padding-bottom: 50px;
}

li:nth-of-type(odd) {
	font-size: 20px;
	font-style: italic;
	font-weight: lighter;
	padding-bottom: 10px;
}

h3 {
	font-size: 20px;
	font-weight:bold;
	padding-bottom: 10px;
}

section p{
	padding-bottom: 25px;
}

#contact p {
	padding: 25px;
	text-align: center;
}
