/*CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Start of the styling */

body {
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	color: #023B0B !important;
	font-size: 16px;
} 

.page {
	width: 840px;
	height: 800px;
	margin: auto;
	box-shadow: 2px 2px 2px 2px #202d26;
}

header {
	margin-top: 0;
	height: 150px;
	color: white;
	text-align: center;
	background-image: url("../../images/design1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

h1 {
	font-size: 3rem;
	line-height: 150px;
	text-shadow: 3px 3px 3px #202d26;
}

.sub-header {
	height: 30px;
	background-color: #202d26;
	margin-top: 0;
	font-size: 1.5rem;
}

.sub-header h2 {
	line-height: 30px;
}

.logo {
	width: 100px;
	float: right;
	margin-right: 10%;
	position: relative;
	top: -35px;
}

.logo img{
	max-width: 100px;
}

aside {
	margin-top: 75px;
	margin-left: 5%;
}

aside li {
	padding: 15px;
	text-decoration: none;
}

aside a {
	text-decoration: none;
	color: #202d26;
}

aside a:hover {
	font-size: 24px;
	font-weight: bold;
}

main {
	margin-top: -125px;
	margin-left: 200px;
	text-align: justify;
}

#about {
	margin-right: 6%;
}

main p {
	padding-bottom: 30px;
}

section h3 {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 15px;
}

main li:nth-of-type(even) {
	padding-bottom: 50px;
}

main li:nth-of-type(odd) {
	font-size: 20px;
	font-style: italic;
	font-weight: lighter;
	padding-bottom: 10px;
}
